@model UserInfoModel

@{
    ViewData["Title"] = "Facebook response";
}

<h1 class="bg-info text-white">Your Login Details</h1>

<table class="table table-sm table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>@Model.UserName</td>
        <td>@Model.Email</td>
    </tr>
</table>