@model IEnumerable<PXLPRO2023Shoppers02.Models.ViewModels.CategoryViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-secondary" style="margin:40px;padding:40px;color:white" >Atelier Barok</h1>
    <h2>Comfort has never been so Barok</h2>
</div>
    <br/>
    <p class="text-lg-start">High-end quality comfort for a barok price. Here at Atelier Barok we believe everyone, the good, the ugly, the bad, deserves to live in luxury. Except the jews, fuck the jews.</p>
    <br/>
<div> 
    <br />
    <h4>Luxurous</h4>
    <br />
    <p>Our sofas and chairs are made with the best quality materials.</p>
    <br/>
</div>
<div class="text-lg-end">
    <h4>Stylish</h4>
    <br />
    <p>Just look at it. We dont need to say more.</p>
    <br />
</div>
 <div>
     <h4>Affordable</h4>
     <br />
    <p>Due to years of partnership with the Chinese mafia we are able to bring you this quality for a price other brands can't compete with</p>
    <br/>
</div>
<div class="text-lg-end">
    <h4>Simplicity</h4>
    <br />
    <p>We deliver our furniture in one piece. No confusing build-yourself-furniture pretentiously called "Javlafittytryne"</p>
    <br />
</div>
<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Categorys.CategoryName
                </td>
                <td>
                    @item.Producten.ProductName
                </td>
                <td>
                    @item.Producten.ProductDescription
                </td>
                <td>
                    @item.Producten.ProductPrice
                </td>
            </tr>
        }
    </tbody>
</table>